---
---

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Playfair+Display+SC');

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display SC", "Times New Roman", serif;
    font-variant: small-caps;
}

h1 {
    font-size: 40pt;

    .title {
        text-decoration: underline;
    }

    small {
        display: block;
        font-size: 20pt;
    }
}

body {
    font-family: "Gentium Basic", "Times New Roman", serif;
    background: linear-gradient(skyblue, pink, white, pink, skyblue) repeat-y;
}

article {
    max-width: 960px;
    margin: 0 auto;
    vertical-align: top;
}

.col {
    padding: 1rem;
    background-color: white;

    &.colB {
        background-color: #000;
        color: #eee;
        a, a:hover, a:active, a:visited {
            color: #aae;
        }
    }
}

dt {
    font-weight: bold;
}

.alert {
    text-align: center;
    max-width: 50%;
    margin: 1rem auto;
    border: 2px solid #e77;
    border-radius: 4px;
    background-color: #faa;
    color: #800;
    padding: 1rem;
}

@media only screen and (max-width: 960px) {
    h1 {
        text-align: center;
        font-size: 32pt;

        small {
            font-size: 16pt;
        }
    }
    .alert {
        max-width: 100%;
    }
}
