---
---

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Inknut+Antiqua|Playfair+Display:400,400i,700,700i');

$body: "Gentium Book Basic", "Georgia", "Times New Roman", serif;
$title: "Inknut Antiqua", "Helvetica Neue", sans-serif;
$display: "Playfair Display", "Palatino", "Times New Roman", serif;

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #1f183a;
    color: #eef;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    font-family: $body;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    img {
        max-width: 100%;
    }
}

.black {
    background-color: black;
    margin: 0;
    padding: 0;
    padding: 1rem 0;
}
.gradient {
    background: linear-gradient(black, transparent 25%) no-repeat;
    margin: 0;
    padding: 1rem 0;
}
.reverse-gradient {
    background: linear-gradient(transparent, black) no-repeat;
    margin: 0;
    padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6, .titlefont {
    font-family: $title;
}
h1, h2, h3, h4, h5, h6, .center {
    text-align: center;
}

a {
    &, &:active, &:hover {
        color: #bbc;
        text-decoration: none;
    }
    &:hover {
        text-decoration:underline;
    }
    &:visited {
        color: #aab;
    }
}

header, footer {
    max-width: 900px;
    text-align: center;
    hr {
        text-align: left;
    }
    p {
        line-height: 2;
    }

    em {
        font-family: $display;
        font-weight: 700;
    }

    h1 {
        margin-bottom: 0;

        .large {
            font-size: 44pt;
        }

        em {
            font-size: 36pt;
            letter-spacing: 15px;
        }

        .kern {
            margin-left: -3pt;
        }

        .star {
            margin: 0 0.5rem;
        }
    }

    h2 {
        font-family: $display;
        font-weight: 300;
        font-size: 15pt;
    }
}
header {
    padding-top: 1rem;
}
footer {
    font-size: 10pt;
    min-height: 150px;
}

main {
    line-height: 1.6;
    font-size: 13pt;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;

    .lead {
        font-size: 15pt;
    }
}

blockquote {
    padding: 0.75rem;
    line-height: 1.5;
    font-size: 12pt;
    text-align: justify;
    background: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.01));
    border: 0px solid transparent;
    border-radius: 5px;

    .quote {
        font-family: $display;
        font-weight: 400;
        margin-top: 0;
    }

    .attribution {
        margin-bottom: 0;
    }
}

hr {
    border: none;

    &:before {
        margin-left: 50%;
        content: "✶";
        color: #fff;
    }
}

.clearfix {
    &:after, &:before {
        content: '';
        display: table;
        clear: both;
    }
    text-align: center;
}

table {
    margin: 0 auto;

    * {
        vertical-align: top;
    }

    thead {
        font-family: $title;
        text-align: center;
    }

    tbody {
        tr {
            td {
                font-family: $display;
                font-weight: 400;
                padding: 0.25rem 0.5rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                &:first-of-type {
                    text-align: right;
                }
            }

            &:last-of-type td {
                border-bottom: none;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    table {
        font-size: 10pt;
    }
}
@media only screen and (min-width: 900px) {
    .pull-left {
        float:left;
        max-width: 25% !important;
        margin: 0 0.75rem 0.5rem 0;
        margin-left: -50px;
    }
    blockquote.pull-left {
        max-width: 40% !important;
    }
    .pull-right {
        float: right;
        max-width: 25% !important;
        margin: 0 0 0.5rem 0.75rem;
        margin-right: -50px;
    }

    .wrapper {
        padding: 0;
    }
}

@media print {
    * {
        color: black;
    }

    a, a:visited {
        color: black;
        text-decoration: none;
    }
}
